<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <script src="https://kit.fontawesome.com/9c1f0497c6.js" crossorigin="anonymous"></script>
</head>
<body>
    
<header align="right">
    <nav>
        <ul type="none">
        <li><a href="/"><strong>HOME</strong></a></li>
        <li><a href="/about"><strong>ABOUT</strong></a></li>
        <li><a href="/music"><strong>MUSIC</strong></a></li>
        <li><a href="/contact"><strong>CONTACT</strong></a></li>
    </nav> </ul>
    <ul type="none">
        <li><a href="http://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter fa-spin"></i></a></li>
        <li><a href="http://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-spin"></i></a></li>
        <li><a href="http://www.spotify.com" target="_blank"><i class="fa-brands fa-spotify fa-spin"></i></a></li>
        <li><a href="http://www.apple.com" target="_blank"><i class="fa-brands fa-apple fa-spin"></i></a></i></li>
        <li><a href="http://www.amazon.com" target="_blank"><i class="fa-brands fa-amazon fa-spin"></i></a></li>
        <li><a href="http://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram fa-spin"></i></a></li>
       </ul>
   

  
</header>
<section>
    <img align="right" src="images/emilia-about.jpg" alt=" about " height="800" width="750">
</section>
  <section>
    <h1><strong>ABOUT EMILIA //</strong></h1>

    <h3>
        "Seattle-based pop star makes her indie debut with a hauntingly beautiful album" 
    </h3>
    <h5>John Tirckle,
        Music Today Post </h5>
        
        <h3>
            "Emilia Cole is one of the scene's breakout stars" 
        </h3>
        <h5> - John Tirckle, Music Today Post 10:55</h5>
  </section>



</body>
</html>