<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <script src="https://kit.fontawesome.com/9c1f0497c6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
<header align="right">
    <nav>
        <ul type="none">
        <li><a href="/"><strong>HOME |</strong></a></li>
        <li><a href="/about"><strong>ABOUT |</strong></a></li>
        <li><a href="/music"><strong>MUSIC |</strong></a></li>
        <li><a href="/contact"><strong>CONTACT</strong></a></li></ul>
    </nav>
    <ul type="none">
        <li><a href="http://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter fa-spin"></i></a></li>
        <li><a href="http://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-spin"></i></a></li>
        <li><a href="http://www.spotify.com" target="_blank"><i class="fa-brands fa-spotify fa-spin"></i></a></li>
        <li><a href="http://www.apple.com" target="_blank"><i class="fa-brands fa-apple fa-spin"></i></a></i></li>
        <li><a href="http://www.amazon.com" target="_blank"><i class="fa-brands fa-amazon fa-spin"></i></a></li>
        <li><a href="http://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram fa-spin"></i></a></li>
       </ul>
</header>

<section>

<h1><strong>CONTACT //</strong></h1>

<h4><strong>WE ARE HERE</strong></h4>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.182370726!2d-0.10159865000000001!3d51.52864165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C%20Reino%20Unido!5e0!3m2!1ses-419!2sar!4v1697059177808!5m2!1ses-419!2sar" width="1330" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


</section>
    
<section>
    <h4><strong>CONTACT INFO</strong></h4>
<article>
<p><strong class="contactos">MANAGEMENT | Karen Blanche</strong> <br> <br>
<strong>Email:</strong><a href="mailto:info@mysite.com" class="direcciones"> info@mysite.com</a> <br>
 <strong>Phone:</strong><a href="tel:1234567890" class="direcciones"> 123-456-7890</a></p>

</article>

<article>
   <p><strong class="contactos"> BOOKING | Daniel Ku </strong> <br> <br>
    <strong>email:</strong> <a href="mailto:info@mysite.com" class="direcciones">info@mysite.com</a><br>
    <strong>phone:</strong> <a href="tel:1234567890" class="direcciones">123-456-7890</a></p> 
</article>

<article>
<p><strong class="contactos">LABEL | Wix Records, Jake Coldman </strong> <br><br>
<strong>email:</strong> <a href="mailto:info@mysite.com" class="direcciones">info@mysite.com</a> <br>
<strong>phone:</strong><a href="tel:1234567890" class="direcciones">123-456-7890</a> <br>
</p>
</article>

<article>
  <p> <strong class="contactos"> PR | That Girl Pr, Sarah Brookstone </strong> <br><br>
    <strong>email:</strong><a href="mailto:info@mysite.com" class="direcciones"> info@mysite.com</a> <br>
    <strong>phone:</strong><a href="tel:1234567890" class = "direcciones"> 123-456-7890 </a> <br>
</p>
</article>

</section>

</body>
</html>