<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <script src="https://kit.fontawesome.com/9c1f0497c6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
<header>
<nav class="barra">
    <ul type="none" >
    <li><a style="text-decoration: none;" href="/"><strong>HOME</strong></a></li>
    <li><a style="text-decoration: none;" href="/about"><strong>ABOUT</strong></a></li>
    <li><a style="text-decoration: none;" href="/music"><strong>MUSIC</strong></a></li>
    <li><a style="text-decoration: none;" href="/contact"><strong>CONTACT</strong></a></li></ul>
</nav>
    <ul type="none" class="redes">
     <li><a href="http://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter fa-spin"></i></a></li>
     <li><a href="http://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-spin"></i></a></li>
     <li><a href="http://www.spotify.com" target="_blank"><i class="fa-brands fa-spotify fa-spin"></i></a></li>
     <li><a href="http://www.apple.com" target="_blank"><i class="fa-brands fa-apple fa-spin"></i></a></i></li>
     <li><a href="http://www.amazon.com" target="_blank"><i class="fa-brands fa-amazon fa-spin"></i></a></li>
     <li><a href="http://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram fa-spin"></i></a></li>
    </ul>


</header>
<section>
  <article class="hola">

  <!--   <br>
    <br>
    <br>
    <br>
    <br> -->
    <h3 class="nombre"> EMILIA <br> COLE  //</h3>
  </article>
  <article>
   <!--  <br>
    <br>
    <br>
    <br> -->
  
    <h1 class="titulo"><strong>TWIST IN MY REALITY</h1>
  </article ></strong>
    </section>
    <!-- <article class="imagen">
      <img src="/images/emilia-home.jpg" alt="imagen">
    </article> -->
  
  
    
</body>
</html>