<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <script src="https://kit.fontawesome.com/9c1f0497c6.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
<nav>
    <ul type="none">
    <li><a href="/"><strong>HOME</strong></a></li>
    <li><a href="/about"><strong>ABOUT</strong></a></li>
    <li><a href="/music"><strong>MUSIC</strong></a></li>
    <li><a href="/contact"><strong>CONTACT</strong></a></li></ul>
</nav>
    <ul type="none">
     <li><a href="http://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter fa-spin"></i></a></li>
     <li><a href="http://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-spin"></i></a></li>
     <li><a href="http://www.spotify.com" target="_blank"><i class="fa-brands fa-spotify fa-spin"></i></a></li>
     <li><a href="http://www.apple.com" target="_blank"><i class="fa-brands fa-apple fa-spin"></i></a></i></li>
     <li><a href="http://www.amazon.com" target="_blank"><i class="fa-brands fa-amazon fa-spin"></i></a></li>
     <li><a href="http://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram fa-spin"></i></a></li>
    </ul>


</header>
  <section>
    <h3>EMILIA COLE  //</h3>
  </section>
  <section>
    <h1><strong>TWIST IN MY REALITY</h1>
  </section></strong>
    <section><img src="images/emilia-home.jpg" alt="home"></section>
</body>
</html>