<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music</title>
    <script src="https://kit.fontawesome.com/9c1f0497c6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/music.css">
</head>
<body>
    
    <header id="Top" align="right">
      <br>
      <br>
        <nav>
            <ul type="none">
            <li><a href="/"><strong>HOME |</strong></a></li>
            <li><a href="/about"><strong>ABOUT |</strong></a></li>
            <li><a href="/music"><strong>MUSIC |</strong></a></li>
            <li><a href="/contact"><strong>CONTACT | </strong></a></li>
        </ul>
        </nav>
        <ul type="none">
            <li><a href="http://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter fa-spin"></i></a></li>
            <li><a href="http://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-spin"></i></a></li>
            <li><a href="http://www.spotify.com" target="_blank"><i class="fa-brands fa-spotify fa-spin"></i></a></li>
            <li><a href="http://www.apple.com" target="_blank"><i class="fa-brands fa-apple fa-spin"></i></a></i></li>
            <li><a href="http://www.amazon.com" target="_blank"><i class="fa-brands fa-amazon fa-spin"></i></a></li>
            <li><a href="http://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram fa-spin"></i></a></li>
           </ul>
        <br>
        <br><br><br>
    </header>
  <section>

<h1><strong>MUSIC //</strong></h1>

  <h3>Direct Links</h3>

  <ul type="none" class="links">
     <li><a class = "linkeado" href="#Album">Album</a></li><br>
     <li><a class = "linkeado" href="#Organic">Video: Organic Love</a></li><br>
     <li><a  class = "linkeado" href="#Street">Video: Street Light</a></li><br>
  </ul>
   <br><br>
<article id="Album">
<h2>
   <strong> ALBUM </strong><br><strong> TWIST IN MY REALITY </strong>
</h2>
<img class="cuadros" src="images/emilia-play-list.png" alt="playlist">

<ol type="1">
  <li><a class="reproductor" href="#Organic">Organic Love | 2:40</a></li>
  <li class="reproductor">Twist in my reality | 2:10</li>
  <li ><a class="reproductor" href="#Street">Street Light | 3:28</a></li>
  <li class="reproductor">Love don't live here anymore(cover) | 3:49</li>

</ol>

<p><a class="top" href="#Top">Go Top</a></p>
</article>
<br>

  </section>

  <article id="Organic">
    <h2><strong>VIDEO <br> ORGANIC LOVE</strong></h2>

    <iframe  class="cuadros" src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
<p></p>

<p class="reproductor">
    Directed by VINCE MALC &
EMILIA COLE <br> Edited and Filmed by NICOLAS TROY <br> Produced by NIKI HEART,<br> Wix Films LTD.

</p>

<p><a class="top" href="#Top">Go Top</a></p>

  </article>
<br>
<article id="Street">
<h2><strong>VIDEO</strong><br><strong>STREET LIGHT</strong></h2>

<iframe  class="cuadros" src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>


<p class="reproductor">
    Directed by VINCE MALC &
EMILIA COLE <br> Edited and Filmed by NICOLAS TROY <br> Produced by NIKI HEART,<br> Wix Films LTD.

</p>

<p><a class="top" href="#Top">Go Top</a></p>

</article>
<br>
</body>
</html>