ul li a {
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-decoration: none;
}

ul li{
    display:inline
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.contactos{
    color: rgb(28, 156, 150);
    font-weight:300px;
}

.direcciones{
    color: black;
    text-decoration: none;
}